<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="product" class="com.hao.xml4.component.Product">
        <property name="productId" value="11111"></property>
        <property name="productName" value="orange"></property>
        <property name="price" value="5.4"></property>
    </bean>
    <bean id="order" class="com.hao.xml4.component.Order">
        <property name="orderId" value="22222"></property>
        <property name="userAccountId" value="haozhifeng"></property>
    </bean>
</beans>